<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>displayhotelhome</servlet-name>
		<servlet-class>displayhotel.DisplayHotelHomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayhotelhome</servlet-name>
		<url-pattern>/displayhotelhome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>displayhotelhomej</servlet-name>
		<servlet-class>displayhotel.DisplayHotelHomeJServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayhotelhomej</servlet-name>
		<url-pattern>/displayhotelhomej</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>displayhotel</servlet-name>
		<servlet-class>displayhotel.DisplayHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayhotel</servlet-name>
		<url-pattern>/displayhotel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>displayhotelj</servlet-name>
		<servlet-class>displayhotel.DisplayHotelJServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayhotelj</servlet-name>
		<url-pattern>/displayhotelj</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>goupdatehotel</servlet-name>
		<servlet-class>updatehotel.GoUpdateHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>goupdatehotel</servlet-name>
		<url-pattern>/goupdatehotel</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>gohotel</servlet-name>
		<servlet-class>displayhotel.GoHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gohotel</servlet-name>
		<url-pattern>/gohotel</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>searchhotel</servlet-name>
		<servlet-class>displayhotel.SearchHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchhotel</servlet-name>
		<url-pattern>/searchhotel</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>searchhotelj</servlet-name>
		<servlet-class>displayhotel.SearchHotelJServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchhotelj</servlet-name>
		<url-pattern>/searchhotelj</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>updatehotel</servlet-name>
		<servlet-class>updatehotel.UpdateHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatehotel</servlet-name>
		<url-pattern>/updatehotel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatehotelj</servlet-name>
		<servlet-class>updatehotel.UpdateHotelJServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatehotelj</servlet-name>
		<url-pattern>/updatehotelj</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatehotelhome</servlet-name>
		<servlet-class>updatehotel.UpdateHotelHomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatehotelhome</servlet-name>
		<url-pattern>/updatehotelhome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatehotelhomej</servlet-name>
		<servlet-class>updatehotel.UpdateHotelHomeJServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatehotelhomej</servlet-name>
		<url-pattern>/updatehotelhomej</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatehoteladminhome</servlet-name>
		<servlet-class>updatehotel.UpdateHotelAdminHomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatehoteladminhome</servlet-name>
		<url-pattern>/updatehoteladminhome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatehoteladmin</servlet-name>
		<servlet-class>updatehotel.UpdateHotelAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatehoteladmin</servlet-name>
		<url-pattern>/updatehoteladmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatehotelname</servlet-name>
		<servlet-class>updatehotel.UpdateHotelNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatehotelname</servlet-name>
		<url-pattern>/updatehotelname</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatetagline</servlet-name>
		<servlet-class>updatehotel.UpdateTaglineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatetagline</servlet-name>
		<url-pattern>/updatetagline</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adduser</servlet-name>
		<servlet-class>updatehotel.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adduser</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteuser</servlet-name>
		<servlet-class>updatehotel.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteuser</servlet-name>
		<url-pattern>/deleteuser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changepin</servlet-name>
		<servlet-class>updatehotel.ChangePinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changepin</servlet-name>
		<url-pattern>/changepin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatedir</servlet-name>
		<servlet-class>updatehotel.UpdateDirServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatedir</servlet-name>
		<url-pattern>/updatedir</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatemapcode</servlet-name>
		<servlet-class>updatehotel.UpdateMapCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatemapcode</servlet-name>
		<url-pattern>/updatemapcode</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateincludedamenities</servlet-name>
		<servlet-class>updatehotel.UpdateIncludedAmenitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateincludedamenities</servlet-name>
		<url-pattern>/updateincludedamenities</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatepaidamenities</servlet-name>
		<servlet-class>updatehotel.UpdatePaidAmenitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatepaidamenities</servlet-name>
		<url-pattern>/updatepaidamenities</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateinroomamenities</servlet-name>
		<servlet-class>updatehotel.UpdateInRoomAmenitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateinroomamenities</servlet-name>
		<url-pattern>/updateinroomamenities</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatesharedamenities</servlet-name>
		<servlet-class>updatehotel.UpdateSharedAmenitiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatesharedamenities</servlet-name>
		<url-pattern>/updatesharedamenities</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatemeals</servlet-name>
		<servlet-class>updatehotel.UpdateMealsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatemeals</servlet-name>
		<url-pattern>/updatemeals</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatewelcoming</servlet-name>
		<servlet-class>updatehotel.UpdateWelcomingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatewelcoming</servlet-name>
		<url-pattern>/updatewelcoming</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateaccepts</servlet-name>
		<servlet-class>updatehotel.UpdateAcceptsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateaccepts</servlet-name>
		<url-pattern>/updateaccepts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatespeaks</servlet-name>
		<servlet-class>updatehotel.UpdateSpeaksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatespeaks</servlet-name>
		<url-pattern>/updatespeaks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateclose</servlet-name>
		<servlet-class>updatehotel.UpdateCloseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateclose</servlet-name>
		<url-pattern>/updateclose</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateoutline</servlet-name>
		<servlet-class>updatehotel.UpdateOutlineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateoutline</servlet-name>
		<url-pattern>/updateoutline</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatebasics</servlet-name>
		<servlet-class>updatehotel.UpdateBasicsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatebasics</servlet-name>
		<url-pattern>/updatebasics</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatephoto1</servlet-name>
		<servlet-class>updatehotel.UpdatePhoto1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatephoto1</servlet-name>
		<url-pattern>/updatephoto1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatephoto2</servlet-name>
		<servlet-class>updatehotel.UpdatePhoto2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatephoto2</servlet-name>
		<url-pattern>/updatephoto2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatephoto3</servlet-name>
		<servlet-class>updatehotel.UpdatePhoto3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatephoto3</servlet-name>
		<url-pattern>/updatephoto3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatephoto4</servlet-name>
		<servlet-class>updatehotel.UpdatePhoto4Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatephoto4</servlet-name>
		<url-pattern>/updatephoto4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatephoto5</servlet-name>
		<servlet-class>updatehotel.UpdatePhoto5Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatephoto5</servlet-name>
		<url-pattern>/updatephoto5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatephotologo</servlet-name>
		<servlet-class>updatehotel.UpdatePhotoLogoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatephotologo</servlet-name>
		<url-pattern>/updatephotologo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>publishhotel</servlet-name>
		<servlet-class>updatehotel.PublishHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>publishhotel</servlet-name>
		<url-pattern>/publishhotel</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>